*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
   background-color: black;
   display: flex;
   justify-content: center;
}
.logo-box{
    width: 85%;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;

}
.logo-box a{
    display: block;
}
.logo-box a img{
    height: 90px;
    display: block;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
   
}
